<article class="navigation">
    <ul class="nav-group">
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                Dashboard
            </a>
        </li>
        <li class="p nav-item active">
            <a ui-sref="contacts">
                <span class="nav-icon glyphicon glyphicon-book" aria-hidden="true"></span>
                Contacts
            </a>
        </li>
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Messages
            </a>
        </li>
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-stats" aria-hidden="true"></span>
                Inventory
            </a>
        </li>
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Orders
            </a>
        </li>
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                Sites
            </a>
        </li>
        <li class="p nav-item" tooltip-placement="right" uib-tooltip="Feature under construction">
            <a href="#">
                <span class="nav-icon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Marketplace
            </a>
        </li>
    </ul>
</article>