* {
  box-sizing: border-box;
}

html,
body {
  width: 1440px;
  height: 710px;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
}
