// Colors
$purple-one: #272532;
$purple-two: #2C2D3B;
$grey-one: #6A7186;
$grey-two: #DADADA;
$grey-three: #898989;
$grey-four: #D5D5D5;
$grey-background-one: #EAEAEA;
$grey-background-two: #F6F6F6;
$grey-background-three: #DCE0E1;

$blue-one: #0F9BF2;
$lila-one: #9959BA;
$green-one: #28BFC2;
$black-one: #3B414D;

$btn-grey: #DCE0E1;
$btn-grey-font: #818282;


// Fonts
$font-family-one: Helvetica, Arial, sans-serif;
$font-family-two: Arial, sans-serif;
