<div class="person-communication">
    <div class="row">
        <div class="feeds-heading">
            <h2> Activities FEEDS </h2>
            <p class="grey-three smaller"> Last activity: {{ lastActivity | date : 'd MMM yyyy' }} </p>
        </div>
        <form class="form-inline feeds-search">
            <div class="form-group">
                <input class="form-control input-icon-right"
                       ng-model="searchWord"
                       placeholder="Search by keyword">
                <i class="fa fa-search icon-right"></i>
            </div>
        </form>
    </div>

    <div class="feeds-view">

        <div ng-if="feeds" class="row feeds-wrapper">
            <div class="feed-item" ng-repeat="feed in feeds | orderBy : '-feedDate'">
                <div class="feed-icon" ng-style="{'background-color': feed.action.color}"><i class="fa {{feed.action.icon}}"></i></div>

                <div class="feed-data">
                    <p>
                        <span class="blue-one bold">{{activePerson.first_name}} {{activePerson.last_name}} </span>
                        <span class="grey-three">{{feed.action.actionName}} </span>
                        <span class="blue-one bold">{{feed.action.medium}}</span>
                    </p>
                    <p class="grey-three smaller italic">{{feed.feedDate | date : 'h:mm a | d MMM yyyy' }}</p>

                    <div class="arrow-up"></div>
                    <div class="message grey-three">
                        <p class="status-label">{{feed.action.status}}</p>
                        <p>{{feed.message}}</p>
                    </div>
                    <div class="reciever-data">
                        <img ng-if="feed.reciever.profile_picture" class="photo" ng-src="{{feed.reciever.profilePhotoUrl}}"/>
                        <span class="photo-placeholder smaller"
                              ng-if="!feed.reciever.profile_picture"
                              ng-style="{'background-color': feed.reciever.photoBackgroundColor}">{{feed.reciever.initials}}</span>
                        <span class="p blue-one pull-right">{{feed.action.moreAction}}</span>
                        <p class="reply">{{feed.reciever.initials}} {{feed.reciever.first_name}} {{feed.action.reply}}</p>
                    </div>
                </div>
            </div>

            <div class="vertical-line"></div>
        </div>
    </div>

</div>
