.btn {
  font-size: 11px;
  line-height: 14px;
  font-family: $font-family-two;
  padding: 4px 10px;
  border-radius: 3px;

  .glyphicon {
    font-size: 11px;
  }
  .icon-left {
    margin-right: 5px;
  }
  .icon-right {
    margin-left: 5px;
  }

  // Button colors
  &.btn-transparent {
    border-color: $grey-three;
    background-color: transparent;
    color: $grey-three;
    &:hover {
      background-color: white;
    }
  }

  &.btn-grey {
    border-color: transparent;
    background-color: $btn-grey;
    color: $btn-grey-font;
    &:hover {
      background-color: darken($btn-grey, 5%);
    }
  }

  &.btn-blue {
    border-color: transparent;
    background-color: $blue-one;
    color: white;
    &:hover {
      background-color: darken($blue-one, 5%);
    }
  }

  &.btn-lila {
    border-color: transparent;
    background-color: $lila-one;
    color: white;
    &:hover {
      background-color: darken($lila-one, 5%);
    }
  }

  &.btn-black {
    border-color: transparent;
    background-color: $black-one;
    color: white;
    &:hover {
      background-color: lighten($black-one, 5%);
    }
  }

  &.btn-green {
    border-color: transparent;
    background-color: $green-one;
    color: white;
    &:hover {
      background-color: darken($green-one, 5%);
    }
  }

  // Button Sizes
  &.btn-m {
    padding: 8px 10px;
  }
}